:root {
  --green: rgb(1, 87, 97);
  --green-2: rgb(0, 97, 74);
  --yellow: rgb(247, 220, 79);
  --yellow-2: rgb(247, 240, 79);

  --white: rgb(255, 255, 255);
  --base: rgb(241, 240, 240);
  --grey: rgb(134, 142, 150);
  --black: rgb(0, 0, 0);

  --font-primary: "IBM Plex Sans", sans-serif;
  --font-secundary: "Inter", sans-serif;
}
